#table{
    padding: 30px;
    padding-top: 30px;
    border-style: solid black;
    width: 1000px;
    background-color: rgb(226, 226, 245);
    border-radius: 10px;
    opacity: 0.9;
    /* margin-top: 20%; */

}
#table td{
    padding-left: 30px;
    margin-bottom: 10%;
    padding-bottom: 5%;
    
}

img{
   height: 80px;

}
.btn{
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: cornflowerblue;
}
.myInputs{
    border-style: solid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 400px;
    height: 200px;
    margin-top: 5%;
    padding-left: 2%;
    border-color: rgb(91, 8, 187);
    background-color: #05243f;
    opacity: 0.7;
    border-radius: 10px;
    

}
.myInputs input{
    margin-top: 4%;
    font-size: medium;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    color: black;
}
