*{
  margin: 0;
  padding: 0;
}

body{
  background-color:  #81baec;
  font-family: 'lato';
  background-image: url('./media/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  border-radius: 10px;
  
}
